@layer reset {
  /* Everything */
  * {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;

    @media (prefers-reduced-motion: reduce) {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }
  /* END Everything */

  /* Root */
  :root {
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    font-size: 10px;
    block-size: 100%;
    word-break: normal;
    tab-size: 4;

    @supports (interpolate-size: allow-keywords) {
      interpolate-size: allow-keywords;
    }

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
  /* END Root */

  /* Other */
  body {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    line-height: 1.6;
    margin: 0;
  }

  img,
  picture,
  video,
  canvas {
    display: block;
    max-inline-size: 100%;
  }

  svg {
    display: flex;
    inline-size: 100%;
    block-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  textarea:not([rows]) {
    min-block-size: 10rem;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  :where(h1, h2, h3, h4, h5, h6):not([class]) {
    margin-block: 0.75em;
    line-height: 1.25;
    letter-spacing: -0.05ch;
  }

  ul,
  ol {
    list-style: none;

    &:not([class]) {
      margin-block-end: 1em;
    }
  }

  :where(ol, ul):not([class]) {
    padding-inline-start: 1.5em;
    list-style: revert;
  }

  li:not([class]) {
    margin-block: 0.5em;
  }

  a {
    color: currentColor;
    text-decoration-skip-ink: auto;
  }

  a[class] {
    text-decoration-line: none;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  dialog,
  [popover] {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
  }
  /* END Other */
}
